* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

body {
    background-color: rgb(44, 44, 44);
    color: white;
}

dt {
    font-weight: bold;
}

.favorite-teams {
    margin-left: 2rem;
}